@import url('https://fonts.googleapis.com/css2?family=Mukta&family=Roboto+Mono:wght@600&display=swap');

html {
    font-family: 'Mukta', sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #0f0f0f;
    color: #FFFF;
}

.obra-de-arte{
    font-family: 'Roboto Mono', monospace;
}
